kestra/flows/03_gcp_development_data.yaml
id: 03_gcp_development_data
namespace: toronto_development
description: |
  This will take the data from the URL and extract it into Google Cloud Storage (GCS), then load it from there into BigQuery.

variables:
  file: "development_pipeline_{{ now() | date('yyyy-MM-dd') }}.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.development_pipeline"
  data: "{{outputs.extract.outputFiles[render(vars.file)]}}"


tasks:
  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - "curl -o {{render(vars.file)}} https://ckan0.cf.opendata.inter.prod-toronto.ca/dataset/a7a327c5-4e25-4881-816d-c8b145e02832/resource/dc28845a-299f-4562-b605-27b6fefc17e0/download/Development%20Pipeline.csv"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: create_table
    type: io.kestra.plugin.gcp.bigquery.CreateTable
    table: "development_pipeline_data"
    description: "This table will contain the data about the development pipeline in Toronto, including the quarter and year (e.g. Q1 2026) that this data was pulled (this data is updated quarterly)"
    tableDefinition:
      type: TABLE
      schema:
        fields:
          - name: id
            type: BYTES
            description: "Unique identifier for each record (e.g. a hash of the other fields)"
          - name: opendata_id
            type: INT64
            description: "The original ID from the open data source"
          - name: pipeline_status
            type: STRING
            description: "The current status of the development application in the pipeline (e.g. 'Under Review', 'Active', 'Built')"
          - name: application_number
            type: STRING
            description: "The application number for this development application, which can be used to look up more details about the application in the City of Toronto's application information centre"
          - name: date_received
            type: DATE
            description: "The date the application was received"
          - name: description
            type: STRING
            description: "A description of the development application, which may include details about the proposed development"
          - name: address
            type: STRING
            description: "The street address of the development project"
          - name: ward
            type: STRING
            description: "The ward in which the development project is located"
          - name: proposed_residential_gross_floor_area
            type: NUMERIC
            description: "The proposed gross floor area for residential units"
          - name: proposed_non_residential_gross_floor_area
            type: NUMERIC
          - name: proposed_gross_floor_area
            type: NUMERIC
            description: "The total proposed gross floor area, this seems to just be (residential + non-residential), but the source data keeps it in a separate column so will also store it in case it's different"
          - name: proposed_residential_units
            type: NUMERIC
            description: "The number of proposed residential units"
          - name: application_information_centre_link
            type: STRING
            description: "A link to the application information centre for this record, which may contain more details about the development application"
          - name: quarter
            type: INT64
            description: "The quarter during which this data was pulled (Q1, Q2, Q3, Q4)"
          - name: year
            type: STRING
            description: "The year during which this data was pulled (e.g. 2026)"


### This plugin doesn't seem to work with empty schema for external table definitiion (even with autodetect set to true), will have to create using SQL task instead
#  - id: create_external_table
#    type: io.kestra.plugin.gcp.bigquery.CreateTable
#    table: "development_pipeline_external_ext"
#    description: "This external table points to the CSV file in GCS, and is used as the source to load data into the 'development_pipeline_data' table. This allows us to have a clear separation between the raw data (in the external table) and the cleaned/processed data (in the 'development_pipeline_data' table), and also allows us to easily re-run the load step if needed without having to re-download the data from the source."
#    tableDefinition:
#      type: EXTERNAL
#      externalTableDefinition:
#        formatType: CSV
#        ignoreUnknownValues: true
#        autodetect: true
#        sourceUris:
#          - "{{render(vars.gcs_file)}}"

  - id: create_external_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{render(vars.table)}}_external_ext`
      OPTIONS (
        format = 'CSV',
        uris = ['{{render(vars.gcs_file)}}']
      )

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable this.
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{secret('SERVICE_ACCOUNT_KEY')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"
      dataset: "{{kv('GCP_DATASET')}}"


triggers:
  - id: schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 0 1 */3 *" # runs at the end of every quarter (beginning of Jan, Apr, Jul, and Oct)
    timezone: "America/Toronto"